/*Default, elements are for phone*/
/*for desktop, define after phone's definition*/

body{
	background-color: #e6e6e6;
	color: #000000;
	font-family: sans-serif;
	margin: 0px;
	width: 100%;
	font-weight: 400;
	font-size: 14;
}
@media only screen and (min-width: 600px){
	body{
		margin: auto;
		width: 100%;
		max-width: 750px;
	}
}

header{
	height: 80px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	margin: auto;
	padding-top: 20px;
	font-weight: 500;
	font-size: 22;
}

ul.menu{
	list-style-type: none;
	padding-left: 0px;
    overflow: hidden;
	background-color: #000000;
	color: #ffffff;
	height: auto;
	text-align: center;
	width: 100%;
	margin: 0px;
}

ul.menu li{
	background-color: #000000;
	color: #ffffff;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	border: none;
	padding-left: 5px;
	padding-right: 5px;
}

body.dashboard ul.menu li{
	display: block;
	font-size: 16;
}

ul.menu li:hover{
	/*Items at hover main menu*/
	background-color: #4d4d4d;/*light black*/
}

ul.menu li:hover ul.dropdown{
	/*and show the dropdown*/
	display: block;
}

ul.dropdown{
	list-style-type: none;
	display: none;/*hidden until hovered*/
	background-color: #ffffff;
	color: #000000;
	width: auto;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding-left: 0px;/*remove list indent*/
}

ul.dropdown li{
	background-color: #ffffff;
	border: none;
	color: #000000;
	margin: 0px;
	height: auto;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	display: block;
}

ul.dropdown li:hover{
	background-color: #bfbfbf;
}
/*<BUTTONS>*/
.btn{
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	height: auto;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14;
	padding: 6px;
}

.btn:hover{
	background-color: #95d097;
}

.blockBtn{
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	height: auto;
	width: 100%;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14;
	padding: 6px;
}

.blockBtn:hover{
	background-color: #95d097;
}

hr{
	border: 0;
	border-bottom: 1px dashed #cccccc;
	background: #999;
}
/*</BUTTONS>*/
/*links*/
a:link, a:visited, a:hover, a:active{
	color: #4d94ff;
	text-decoration: none;
}

ul.menu a:link, ul.menu a:visited, ul.menu a:hover, ul.menu a:active{
	color: #ffffff;
}
a.btn:link, a.btn:visited, a.btn:hover, a.btn:active{
	color: #ffffff;
	text-decoration: none;
}
a.blockBtn:link, a.blockBtn:visited, a.blockBtn:hover, a.blockBtn:active{
	color: #ffffff;
	text-decoration: none;
}
/*Page sections*/
/*body, nav, and header have already been defined*/
content{
	margin: auto;
	margin-top: 5px;
	padding: 5px;
	width: 90%;
}

content header, article header{
	line-height: 24px;
	height: auto;
	font-size: 18;
	font-weight: 500;
	display: block;
	text-align: left;
	padding: 0;
}

article{
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	padding: 2px;
	margin: auto;
	margin-bottom: 5px;
}
@media only screen and (min-width: 600px){
	content{
		width: 75%;
		float: left;
	}
}

article.footer{
	background-color: #4d4d4d;
	color: #ffffff;
}

aside{
	width: 90%;
	/*padding: 5px;*/
	margin: auto;
	margin-top: 5px;
}
@media only screen and (min-width: 600px){
	aside{
		width: 25%;
		float: right;
	}
}

aside header{
	background-color: #000000;
	color: #ffffff;
	line-height: 24px;
	height: auto;
	font-size: 16;
	font-weight: 500;
	display: block;
	text-align: center;
	/*remove inherited stuff*/
	padding: 5px;
	margin: 0px;
	width: 100%;
	margin-bottom: 2px;
}

aside content{
	width: 100%;
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	height: auto;
	display: block;
	margin-bottom: 4px;
}

span.small{
	/*written by*/
	font-size: 12;
}
/*FORMS*/
form{
	background-color: #ffffff;
	color: #000000;
	width: 90%;
	margin: auto;
	max-width: 300px;
}

form label{
	margin-bottom: 5px;
	display: block;
}

form input[type=text], form input[type=password]{
	width: 100%;
	max-width: 280px;
	padding: 5px;
	border: 3px solid #bfbfbf;
	margin: auto;
	margin-bottom: 5px;
	display: block;
}

form input[type=text]:hover, form input[type=password]:hover{
	border: 3px solid #555;
}

form input[type=submit]{
	border: none;
	height: auto;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	display: block;
	background-color: #4CAF50;
	color: #ffffff;
	width: 80%;
	margin: auto;
	margin-top: 5px;
	font-size: 12;
}

form input[type=submit]:hover{
	background-color: #95d097;
}

/*</FORMS>*/
div.warning{
	background-color: #ff8080;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	padding: 5px;
	width: 100%;
	margin: auto;
}

div.message{
	background-color: #29a329;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
	padding: 5px;
	width: 100%;
	margin: auto;
}

/*this must be at the end*/
*{
	box-sizing: border-box;
}
