
body{
	background-color: #e6e6e6;
	color: #000000;
	font-family: sans-serif;
	margin: 0px;
	width: 100%;
	font-weight: 400;
	font-size: 14;
	max-width: none;
}

div.pageContent{
	height: 100%;
	width: auto;
	padding-left: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	top: 0px;
	bottom: 0px;
}

nav{
	/*position*/
	float: left;
	margin-right: 10px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	/*size*/
	height: 100%;
	width: 20px;
	max-width: 100px;
	top: 0;
	bottom: 0;
	left: 0;
	/*text*/
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	font-size: 16;
}

nav~div.pageContent{
	padding-left: 25px;
	padding-top: 30px;
}

nav ul.menu{
	display: none;
}

nav:hover ul.menu{
	display: block;
	height: 100%;
}

nav:hover~div.pageContent{
	padding-left: 120px;
	padding-top: 30px;
}

nav:hover{
	height: 100%;
	width: auto;
	padding-left: 30px;
}

@media only screen and (min-width: 600px){
	nav ul.menu{
		display: block;
		height: 100%;
	}
	nav{
		height: 100%;
		width: auto;
	}
	nav:hover{
		padding-left: 5px;
	}
	nav~div.pageContent{
		padding-left: 120px;
		padding-top: 30px;
	}
}

ul.menu{
	list-style-type: none;
	padding-left: 0px;
    overflow: hidden;
	background-color: #000000;
	color: #ffffff;
	height: 100%;
	width: 100%;
	text-align: right;
	margin: 0px;
	padding-top: 10px;
}

ul.menu li{
	background-color: #000000;
	color: #ffffff;
	display: block;
	height: auto;
	text-align: center;
	text-decoration: none;
	border: none;
	font-size: 16;
	padding: 5px;
}

ul.menu li:hover{
	background-color: #4d4d4d;
}

content{
	display: block;
	background-color: #ffffff;
	color: #000000;
	margin: 5px;
	padding: 10px;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
}
@media only screen and (min-width: 600px){
	content{
		display: inline-block;
		width: 45%;
		max-width: 450px;
	}
	content.fullWidth{
		max-width: none;
		width: 100%;
	}
}

content header{
	line-height: 24px;
	height: auto;
	font-size: 18;
	font-weight: 500;
	display: block;
	text-align: center;
}

hr{
	color: #cccccc;
}
/*forms*/
form.settings{
	background-color: #ffffff;
	color: #000000;
	width: 100%;
}

form.settings label{
	margin-bottom: 5px;
	display: block;
}

form.settings input[type=text], form input[type=password]{
	width: 100%;
	/*max-width: 400px;*/
	padding: 5px;
	border: 3px solid #bfbfbf;
	/*margin: auto;*/
	margin-bottom: 5px;
	display: block;
}

form.settings input[type=text]:hover, form input[type=password]:hover{
	border: 3px solid #555;
}

form.settings input[type=submit]{
	width: 50%;
	margin: auto;
	/*margin-left: 30px;*/
}
/*Post editor*/

form.post{
	width: 100%;
	display: block;
}

form.post input[type=text]{
	width: 100%;
	display: block;
	line-height: 24px;
	font-size: 18;
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
}

form.post content.postEdit textarea{
	max-width: 100%;
	font-size: 14;
}

form.post content.postEdit{
	display: block;
	margin: auto;
	margin-top: 5px;
}

form.post content.postOptions{
	display: block;
	margin: auto;
	margin-top: 5px;
}
@media only screen and (min-width: 600px){
	form.post content.postEdit{
		display: inline-block;
		max-width: none;
		width: 70%;
		float: left;
	}
	form.post content.postOptions{
		display: inline-block;
		width: 25%;
		max-width: none;
		float: right;
	}
}

/*<BUTTONS>*/
/*links*/
a:link, a:visited, a:hover, a:active{
	color: auto;
	text-decoration: none;
}
ul.menu a:link, ul.menu a:visited, ul.menu a:hover, ul.menu a:active{
	color: #ffffff;
}
a.btn{
	color: #ffffff;
}
.btn{
	background-color: #000000;
	color: #ffffff;
	border: none;
	height: auto;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14;
	padding: 6px;
}

.btn:hover{
	background-color: #4d4d4d;
}

.blockBtn{
	background-color: #000000;
	color: #ffffff;
	border: none;
	height: auto;
	width: 100%;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14;
	padding: 6px;
}

.blockBtn:hover{
	background-color: #4d4d4d;
}

hr{
	border: 0;
	border-bottom: 1px dashed #cccccc;
	background: #999;
}
/*</BUTTONS>*/
/*tables*/
table{
	width: 90%;
	margin: auto;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	
}
table td, table th{
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	
	/*padding: 5px;*/
	border-collapse: collapse;
	text-align: center;
}

table td a{
	width: 100%;
	height: 100%;
}

table th{
	font-size: 18;
	font-weight: 550;
	height: auto;
	
}

*{
	box-sizing: border-box;
}
