<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>
<html>
	<head>
		<title>
			%title%
		</title>
		<link rel="stylesheet" href="templates/qs.css">
	</head>
	<body>
		<header>
			%title%<br>
			<span class="small">%tagline%</span>
		</header>
		<nav>
			<ul class="menu">
				<li>
					<a href="%addr%">Home</a>
				</li>
				%nav_pages%
			</ul>
		</nav>
		<content>
			%warning%
			%message%
			%content%
			<article>%offset%</article>
			<article class="footer">Copyright &copy; %title%</article>
		</content>
		<aside>
			%aside%
			<!--Login form for admin/editor-->
			<content>
				%members_area%
			</content>
		</aside>
	</body>
	<script>
	//JS to convert markdown to html
	var converter = new showdown.Converter();
	var posts = document.getElementsByClassName("md");
	for (var i = 0; i < posts.length; i++){
		posts[i].innerHTML = converter.makeHtml(posts[i].innerHTML);
	}
	</script>
</html>
